<footer class="footer">
  <div class="footer-links-row">
    <a href="#" onclick="alert('Our Privacy policy is not available yet.')" class="footer-link left">Privacy Policy</a>
    <a href="services.html" class="footer-link center">Terms of Service</a>
    <a href="contact.html" class="footer-link right">Contact Us</a>
  </div>
  <div class="footer-row footer-social">
    <a href="#" class="footer-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" class="footer-icon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="footer-icon" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" class="footer-icon" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/mojojompe/Group3project" class="footer-icon" aria-label="GitHub"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-row footer-copy">
    ©2025 Campus Tech | Group 3 - ICT 211  All rights reserved.
  </div>
</footer>

