<nav class="navbar">
  <div class="navbar-logo">
    <span class="navbar-icon">&#xf19c;</span>
    <span class="navbar-title">Campus Tech Group</span>
  </div>
  <ul class="navbar-links">
    <li><a href="about.html">About</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="contact.html">Contact</a></li>
  <li><a href="#" class="join-us-btn">Join Us</a></li>
  </ul>
</nav>
<link rel="stylesheet" href="components/navbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">